:root {
  --blue: #0077ff;
  --white: #ffffff;
  --graywhite: #f0f0f0;
  --gray: #aaa;
  --gray-dark: #222;
  --gray-medium: #4f4f4f;
  --gray-light: #ddd;
  --gray-text: #333;
  --gray-text-light: #555;
  --red: #FF5353;
  --dark-bg: #2a2a2a;
  --background: #f5f6fa;
  --border-color: #e0e0e0;
  --modal-bg: #fefefe;
  --main-color: #f5f6fa;
}
.darkmode{
  --blue: #4da3ff;
    --white: #262626;
    --graywhite: #1f1f1f;
    --gray: #888888;
    --gray-dark: #e0e0e0;
    --gray-medium: #999999 ;
    --gray-light: #383838;
    --gray-text: #999999;
    --gray-text-light: #999999;
    --red: #FF5353 ;
    --dark-bg: #1a1a1a ;
    --background: #1f1f1f ;
    --border-color: #383838;
    --modal-bg: #262626;
    --main-color: #1f1f1f;
}

body{
    background-color: var(--gray-light);
    font-family: 'Inter', 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    display: flex;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: var(--blue);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: var(--blue);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: var(--blue);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: var(--blue);
}

.signin a:hover {
  text-decoration: underline var(--blue);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 0px 20px 0px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: var(--gray);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: var(--blue);
  padding: 10px;
  border-radius: 10px;
  color: var(--white);
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}